

<div class="wrap-whatsapp">    
    <p-dialog 
        header="¡¡Haz tu pedido aquí!!" 
        [draggable]="false" 
        [modal]="true" 
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
        [(visible)]="visible" 
        [style]="{width: '50vw'}">
        <form [formGroup]="whatsappForm" (ngSubmit)="onSubmit()">
            <div class="p-field">
                <label for="name">Nombre</label>
                <input id="name" type="text" pInputText formControlName="name" />
                <p *ngIf="whatsappForm.get('name')?.invalid && whatsappForm.get('name')?.touched">
                    <small class="p-error">El nombre es requerido.</small>
                </p>
            </div>
            <div class="p-field">
                <label for="message">Mensaje</label>
                <textarea id="message" pInputTextarea formControlName="message"></textarea>
                <p *ngIf="whatsappForm.get('message')?.invalid && whatsappForm.get('message')?.touched">
                    <small class="p-error">El mensaje es requerido.</small>
                </p>
            </div>
            <button type="submit" pButton label="Enviar" [disabled]="whatsappForm.invalid"></button>
        </form>
    </p-dialog>
</div>
<div id="whatsapp-chat-widget"></div>