

@import "/src/styles.scss";

.wrap-home {
    .wrap-title {
        .subtitle {
            color: $black-light;
        }
    }
    .wrap-presentation {
        margin-top: 2rem;
        padding: 2rem;
        border-radius: $border-radius-10;
        background: rgba($white-dark, .1);
        border: .5rem solid $grey-light;
        backdrop-filter: blur(1.5rem);
        color: $black;
        @include min-responsive($tablet) {
            flex-direction: row;
            min-width: calc(33% - 2rem);
            gap: 2rem;
        }
        &.typewriter {
            height: 25rem;
        }
    }
    .wrap-recommends {
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        gap: 1rem;
        @include min-responsive($tablet) {
            flex-direction: row;
            min-width: calc(33% - 2rem);
            gap: 2rem;
        }
    }
    .wrap-carrousel-opinions {
        margin-top: 2rem;
        padding: 2rem;
        border-radius: $border-radius-10;
        background: rgba($white-dark, .5);
        border: .5rem solid $grey-light;
        backdrop-filter: blur(1.5rem);
    }
}