



<div class="wrap-home">
    <div class="wrap-carrousel-hero">
        <app-carrousel 
            [carrouselOptions]="carrouselHero" 
            [itemsCarrouselHero]="itemsCarrouselHero" 
            [intervalHero]="intervalCarrouselHero" />
    </div>
    <div class="container">
        <div class="wrap-title">
            <h1 *ngIf="!showSkeleton"class="title">{{ "HOME.TITLE" | translate }}</h1>
            <p-skeleton *ngIf="showSkeleton" width="40rem" height="5rem" />
            <h3 *ngIf="!showSkeleton" class="subtitle">{{ "HOME.SUBTITLE" | translate }}</h3>
            <p-skeleton *ngIf="showSkeleton" height="15rem" class="d-block mt-3" />
        </div>
        <div class="wrap-presentation">
            <app-typewriter-animation 
                [text]="'HOME.TEXT_PRESENTATION' | translate" 
                [typingSpeed]="100"
                [height]="200" />
        </div>
        <!-- Skeleton Presentation -->
        <div class="wrap-title mt-3 mb-3">
            <h3 *ngIf="!showSkeleton" class="subtitle mb-0 ">{{ "HOME.RECOMENDATIONS_TITLE_SECTION" | translate }}</h3>
            <p-skeleton *ngIf="showSkeleton" width="30rem" height="5rem" />
        </div>
        <div class="wrap-recommends">
            <div *ngFor="let recomendation of recommendationsHome" class="wrap-recommends__presentation">
                <h3 *ngIf="!showSkeleton">{{ recomendation.title | translate }}</h3>
                <div *ngIf="!showSkeleton" class="wrap-image">
                    <p-image 
                        [src]="recomendation.img" 
                        [alt]="recomendation.title" 
                        [title]="recomendation.title"
                        width="100%" />
                </div>
                <p *ngIf="!showSkeleton" class="mt-2">{{ recomendation.description | translate }}</p>
                <p-skeleton *ngIf="showSkeleton" height="40rem" />
            </div>
        </div>
        <div class="wrap-title mt-3">
            <h3 *ngIf="!showSkeleton" class="subtitle mb-0">{{ "HOME.OPINIONS_TITLE_SECTION" | translate }}</h3>
            <p-skeleton *ngIf="showSkeleton" width="50rem" height="5rem" />
        </div>
        <div class="wrap-carrousel-opinions mb-3">
            <app-carrousel 
                [carrouselOptions]="carrouselOpinator" 
                [homePageOpinions]="opinionsHome"
                [intervalOpinions]="intervalCarrouselOpinions" />
        </div>
    </div>
</div>
