



<div class="wrap-home">
    <app-flower-background />
    <div class="wrap-carrousel-hero">
        <app-carrousel 
            [carrouselOptions]="carrouselHero" 
            [itemsCarrouselHero]="itemsCarrouselHero" 
            [intervalHero]="intervalCarrouselHero" />
    </div>
    <div class="container">
        <div class="wrap-title">
            <h1 *ngIf="!showSkeleton"class="title">{{ titlePage }}</h1>
            <p-skeleton *ngIf="showSkeleton" width="40rem" height="5rem" />
            <h3 *ngIf="!showSkeleton" class="subtitle">{{ subtitlePage }}</h3>
            <p-skeleton *ngIf="showSkeleton" height="15rem" class="d-block mt-3" />
        </div>
        <div class="wrap-presentation">
            <app-typewriter-animation 
                [text]="textPresentation" 
                [typingSpeed]="100"
                [height]="200" />
        </div>
        <!-- Skeleton Presentation -->
        <div class="wrap-title mt-3">
            <h3 *ngIf="!showSkeleton" class="subtitle mb-0 ">{{ recommendationsTitleSection }}</h3>
            <p-skeleton *ngIf="showSkeleton" width="30rem" height="5rem" />
        </div>
        <div class="wrap-recommends">
            <div *ngFor="let recomendation of recommendationsSection" class="wrap-recommends__presentation">
                <h3 *ngIf="!showSkeleton">{{ recomendation.title }}</h3>
                <div *ngIf="!showSkeleton" class="wrap-image">
                    <p-image 
                        src="https://primefaces.org/cdn/primeng/images/galleria/galleria11.jpg" 
                        alt="Image" 
                        title="Image"
                        width="100%" />
                </div>
                <p *ngIf="!showSkeleton" class="mt-2">{{ recomendation.description }}</p>
                <p-skeleton *ngIf="showSkeleton" height="40rem" />
            </div>
        </div>
        <div class="wrap-title mt-3">
            <h3 *ngIf="!showSkeleton" class="subtitle mb-0">{{ opinionsTitleSection }}</h3>
            <p-skeleton *ngIf="showSkeleton" width="50rem" height="5rem" />
        </div>
        <div class="wrap-carrousel-opinions mb-3">
            <app-carrousel 
                [carrouselOptions]="carrouselOpinator" 
                [itemsCarrouselOpinator]="opinionsSection"
                [intervalOpinions]="intervalCarrouselOpinions" />
        </div>
    </div>
</div>
