


@import "/src/styles.scss";

.wrap-shopping,
.wrap-social {
    position: fixed;
    bottom: calc(9.5rem + 17.25rem);
}
.wrap-shopping {
    right: 7rem;
}
.wrap-social {
    left: 2rem;
}
.wrap-message-btn {
    position: fixed;
    left: 2rem;
    bottom: 6rem;
}

.wrap-message-btn ::ng-deep {
    .p-button {
        background: rgba($brand-primary-light, .5);
        border: none;
        backdrop-filter: blur(1.5rem);
        box-shadow: 0 0 1.5rem $white;
        color: $black;
        text-shadow: 0 0 .5rem $white;
        animation: blink-shadow 2s infinite;
        &:hover,
        &:focus {
            box-shadow: $dialShadow;
        }
    }
    @keyframes blink-shadow {
        0%,
        100% {
            box-shadow: 0 0 1rem .2rem $success-light-alert;
        }
        50% {
            box-shadow: 0 0 2rem .5rem $success-alert;
        }
    }
}