

<div *ngIf="!sharedService.isAdminRoute()">
    <app-navbar/>
</div>

<router-outlet />

<div *ngIf="!sharedService.isAdminRoute()">
    <app-footer />
    <!-- <div class="wrap-whatsapp">
        <app-whatsapp />
    </div> -->
    <div class="wrap-shopping">
        <p-speedDial 
            [model]="itemsShop || null" 
            direction="up" 
            transitionDelay="80" 
            showIcon="pi pi-shopping-cart" 
            hideIcon="pi pi-times"
            buttonClassName="p-button-outlined" />
    </div>
    <div class="wrap-social">
        <p-speedDial 
            [model]="itemsSocial || null" 
            direction="up" 
            transitionDelay="80" 
            showIcon="pi pi-share-alt" 
            hideIcon="pi pi-times"
            buttonClassName="p-button-outlined" />
    </div>
</div>

<app-whatsapp />

<p-scrollTop />