


.wrap-shopping,
.wrap-social {
    position: fixed;
}
.wrap-shopping {
    right: 6.6rem;
    bottom: calc(14rem + 17.25rem);
}
.wrap-social {
    left: 3rem;
    bottom: calc(9.5rem + 17.25rem);
}