

<app-flower-background />
<app-cookies />

<div *ngIf="!sharedService.isAdminRoute()">
    <app-navbar/>
</div>

<router-outlet />

<div *ngIf="!sharedService.isAdminRoute()">
    <app-footer />
    <div class="wrap-shopping">
        <app-speed-dial [items]="itemsShop" showIcon="pi pi-shopping-cart" />
    </div>
    <div class="wrap-social">
        <app-speed-dial [items]="itemsSocial" showIcon="pi pi-share-alt" />
    </div>
</div>

<div class="wrap-message-btn">
    <p-button 
        (click)="openModalMessage()"
        label="¡¡Haz tu pedido aquí!!" 
        icon="pi pi-send"
        iconPos="right" />
</div>

<app-modal-message />


<p-scrollTop />