


.wrap-shopping,
.wrap-social {
    position: fixed;
    bottom: calc(12rem + 17.25rem);
}
.wrap-shopping {
    right: 6.6rem;
}
.wrap-social {
    position: fixed;
    left: 3rem;
    bottom: calc(12rem + 17.25rem);
}