





<div class="container m-container">
    <div class="wrap-product">
        <div class="wrap-title">
            <h1 *ngIf="!showSkeletonTitle" class="title">{{ "FLOORS_PAGE.SUBMENU.ORCHIDS_PAGE.TITLE_PAGE" | translate }}</h1>
            <p-skeleton *ngIf="showSkeletonTitle" width="40rem" height="5rem" styleClass="mb-2" />
        </div>
        <div class="product-wrap-cards">
            <div *ngFor="let orchid of orchidsContent" class="wrap-card">
                <app-card
                    [gallery]="true"
                    [srcImg]="orchid.srcImg"
                    [altImg]="orchid.titleCard"
                    [title]="orchid.titleCard"
                    [titleCard]="orchid.titleCard"
                    [descriptionCard]="orchid.descriptionCard || ''" />
            </div>
        </div>
    </div>
</div>
