<form (submit)="onLogin()">
    <div class="wrap-content">
            <input 
                [(ngModel)]="username" 
                matInput 
                placeholder="Username" 
                name="username" 
                required />
            <input 
                [(ngModel)]="password" 
                matInput 
                type="password" 
                placeholder="Password" 
                name="password"
                required />
        <div class="wrap-buttons">
            <button 
                color="primary" 
                type="submit">
                Login
            </button>
            <button 
                color="primary" 
                (click)="onGoToSite()">
                Go to Site
            </button>
        </div>
    </div>
</form>