

<div class="wrapper-form">
    <form (submit)="onLogin()" class="wrap-form">
        <div class="wrap-form__header">
            <img src="assets/logo-loto.png" alt="" srcset="">
        </div>
        <div class="wrap-form__content">
            <div class="wrap-form__inputs">
                <span class="p-float-label">
                    <input 
                        pInputText 
                        [(ngModel)]="username" 
                        name="username" 
                        required />
                        <label htmlFor="username">Username</label>
                </span>
                <span class="p-float-label">
                    <input 
                        [(ngModel)]="password" 
                        pInputText 
                        type="password" 
                        name="password"
                        required />
                        <label htmlFor="username">Password</label>
                </span>
            </div>
            <div class="wrap-form__buttons">
                <button 
                    pButton 
                    pRipple 
                    color="primary" 
                    type="submit">
                    Login
                </button>
                <button 
                    (click)="onGoToSite()" 
                    pButton 
                    pRipple 
                    class="p-button-success">
                    Volver
                </button>
            </div>
        </div>
    </form>
</div>