

.dashboard-card {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 40px;
    ::ng-deep {
        mat-card-content,
        mat-form-field {
            min-width: 100%;
            input {
                text-align: center;
                background-color: transparent;
            }
        }
    }
    .wrap-content {
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        .wrap-buttons {
            display: flex;
            box-sizing: border-box;
            justify-content: space-between;
            align-items: center;
            min-width: 100%;
            button {
                width: calc(50% - 5px);
            }
        }
    }
}