<nav [ngClass]="scrolled ? 'scroll' : ''" class="navbar navbar-expand-xl">
    <div class="container-fluid wrap-navbar">
        <a [routerLink]="['/']" [attr.data-bs-toggle]="isTablet ? '' : 'collapse'"
            [attr.data-bs-target]="isTablet ? '' : '#navbarFsnArg'"
            [attr.aria-controls]="isTablet ? '' : 'navbarFsnArg'" [attr.aria-expanded]="isTablet ? '' : 'false'"
            class="navbar-brand">
            <img src="/assets/img/logo-loto.png" [alt]="'NAV_BAR.LOGO' | translate" [title]="'NAV_BAR.LOGO' | translate">
        </a>
        <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarFsnArg" aria-controls="navbarFsnArg"
            aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler collapsed">
            <span></span>
            <span></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarFsnArg">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li *ngFor="let item of menuItems" [routerLinkActive]="['active']" class="nav-item">
                    <a [routerLink]="item.routerLink" [title]="item.label | translate"
                        [attr.data-bs-toggle]="isTablet ? '' : 'collapse'"
                        [attr.data-bs-target]="isTablet ? '' : '#navbarFsnArg'"
                        [attr.aria-controls]="isTablet ? '' : 'navbarFsnArg'"
                        [attr.aria-expanded]="isTablet ? '' : 'false'" aria-current="page" class="nav-link">
                        {{ item.label | translate }}
                    </a>
                </li>
            </ul>
            <!-- TODO -->
            <div class="end">
                <div class="wrap-change-language">
                    <span class="pi pi-fw pi-language icon-lang"></span>
                    <select #langSelect (change)="changeLang( langSelect.value )" class="form-select" aria-label="change language">
                        <option selected disabled class>{{ "NAV_BAR.LANGUAGE" | translate }}</option>
                        <option *ngFor="let lang of langs" [value]="lang.lang">
                            {{ lang.name }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</nav>