<nav [ngClass]="scrolled ? 'scroll' : ''" #navbarContainer class="navbar navbar-expand-xl">
    <div class="container-fluid wrap-navbar">
        <a 
            [routerLink]="['/']" 
            [attr.data-bs-toggle]="isTablet ? '' : 'collapse'"
            [attr.data-bs-target]="isTablet ? '' : '#navbarFlrLoto'"
            [attr.aria-controls]="isTablet ? '' : 'navbarFlrLoto'" 
            [attr.aria-expanded]="isTablet ? '' : 'false'"
            (click)="closeMenu()" 
            class="navbar-brand collapsed">
            <img 
                src="/assets/img/logo-loto.png" 
                [alt]="'NAV_BAR.LOGO' | translate"
                [title]="'NAV_BAR.LOGO' | translate">
        </a>
        <button 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarFlrLoto" 
            aria-controls="navbarFlrLoto"
            aria-expanded="false" 
            aria-label="Toggle navigation" 
            class="navbar-toggler collapsed">
            <span></span>
            <span></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarFlrLoto">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li 
                    *ngFor="let item of menuItems" 
                    [routerLinkActive]="['active']" 
                    class="nav-item dropdown"
                    [ngClass]="{'dropdown': item.subMenu}">
                    <a 
                        [routerLink]="item.routerLink" 
                        [title]="item.label | translate" 
                        aria-current="page" 
                        class="nav-link"
                        [ngClass]="{'dropdown-toggle': item.subMenu}" 
                        [attr.data-bs-toggle]="item.subMenu ? 'dropdown' : null">
                        {{ item.label | translate }}
                    </a>
                    <ul *ngIf="item.subMenu" class="dropdown-menu">
                        <li 
                            *ngFor="let subItem of item.subMenu" 
                            class="dropdown-menu-item">
                            <a 
                                [routerLink]="subItem.routerLink" 
                                class="dropdown-item">
                                {{ subItem.label | translate }}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>