<div class="wrap-form-whatsapp shadow-lg border-round card p-4">
    <form [formGroup]="whatsappForm" (ngSubmit)="sendWhatsApp()" class="wrap-form">
        <div class="p-fluid">
            <!-- ¿¿Hace falta?? -->
            <div class="wrap-data-user">
                <p-floatLabel class="p-field">
                    <label for="name">{{"OTHERS.FORM_ORDER.LABEL_NAME" | translate}}</label>
                    <input pInputText id="name" type="text" formControlName="name" class="p-inputtext-lg" required />
                    <span 
                        *ngIf="whatsappForm.get('name')?.invalid && whatsappForm.get('name')?.touched"
                        class="p-error d-block">
                        {{"OTHERS.FORM_ORDER.VALIDATION_NAME" | translate}}
                    </span>
                    <span 
                        *ngIf="whatsappForm.get('name')?.errors?.['minlength'] && whatsappForm.get('name')?.touched"
                        class="p-error d-block">
                        {{ "OTHERS.FORM_ORDER.VALIDATION_PHONE_LENGTH" | translate }}
                    </span>
                </p-floatLabel>
                <p-floatLabel class="p-field">
                    <label for="phone">{{"OTHERS.FORM_ORDER.LABEL_PHONE" | translate}}</label>
                    <input pInputText id="phone" type="tel" formControlName="phoneNumber" class="p-inputtext-lg" required />
                    <span 
                        *ngIf="whatsappForm.get('phoneNumber')?.invalid && whatsappForm.get('phoneNumber')?.touched"
                        class="p-error d-block">
                        {{"OTHERS.FORM_ORDER.VALIDATION_PHONE" | translate}}
                    </span>
                    <span 
                        *ngIf="whatsappForm.get('phoneNumber')?.errors?.['minlength'] && whatsappForm.get('phoneNumber')?.touched"
                        class="p-error d-block">
                        {{ "OTHERS.FORM_ORDER.VALIDATION_PHONE_LENGTH" | translate }}
                    </span>
                </p-floatLabel>
            </div>
            <!-- ! -->
            <p-floatLabel class="p-field message">
                <label for="message">{{"OTHERS.FORM_ORDER.LABEL_MESSAGE" | translate}}</label>
                <textarea pInputTextarea id="message" rows="3" formControlName="message" class="p-inputtextarea-lg textarea"
                    required></textarea>
                <span 
                    *ngIf="whatsappForm.get('message')?.invalid && whatsappForm.get('message')?.touched"
                    class="p-error d-block">
                    {{"OTHERS.FORM_ORDER.VALIDATION_MESSAGE" | translate}}
                </span>
                <span 
                    *ngIf="whatsappForm.get('message')?.errors?.['minlength'] && whatsappForm.get('message')?.touched"
                    class="p-error d-block">
                    {{"OTHERS.FORM_ORDER.VALIDATION_MESSAGE_LENGTH" | translate}}
                </span>
            </p-floatLabel>
            <div class="wrap-button">
                <button 
                    pButton 
                    type="submit" 
                    [label]="'OTHERS.FORM_ORDER.BUTTON_WHATSAPP' | translate"
                    [icon]="whatsappForm.invalid ? 'pi pi-ban' : 'pi pi-send'" 
                    iconPos="right"
                    [outlined]="true"
                    [ngClass]="{'p-button-danger': whatsappForm.invalid, 'p-button-success': whatsappForm.valid}"
                    class="p-mt-2 
                    p-button-success"
                    [disabled]="whatsappForm.invalid">
                </button>
            </div>
        </div>
    </form>
</div>