

@import "/src/styles.scss";



.cookies-banner {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba($black-light, .5);
    backdrop-filter: blur(15px);
    color: $white;
    text-align: center;
    padding: 1rem;
    z-index: 1000;
    button {
        font-size: $txt-main;
    }
}