


<div class="wrap-policies legal animate__animated animate__fadeIn">
    <div class="container">
        <header>
            <h1 class="text-center text-decoration-underline">{{ "POLICIES.LEGAL.TITLE" | translate }}</h1>
            <p>{{ "POLICIES.LEGAL.DESCRIPTION" | translate }}</p>
        </header>
        <main class="mt-5">
            <section class="animate__animated animate__pulse">
                <h2>{{ "POLICIES.LEGAL.IDENTIFICATION_TITLE" | translate }}</h2>
                <p [innerHTML]="'POLICIES.LEGAL.IDENTIFICATION_DESCRIPTION' | translate"></p>
            </section>
            <section class="animate__animated animate__pulse">
                <h2>{{ "POLICIES.LEGAL.CONDITIONS_TITLE" | translate }}</h2>
                <p>{{ "POLICIES.LEGAL.CONDITIONS_DESCRIPTION" | translate }}</p>
            </section>
            <section class="animate__animated animate__pulse">
                <h2>{{ "POLICIES.LEGAL.PROPERTY_TITLE" | translate }}</h2>
                <p>{{ "POLICIES.LEGAL.PROPERTY_DESCRIPTION" | translate }}</p>
            </section>
            <section class="animate__animated animate__pulse">
                <h2>{{ "POLICIES.LEGAL.EXCLUSION_TITLE" | translate }}</h2>
                <p>{{ "POLICIES.LEGAL.EXCLUSION_DESCRIPTION" | translate }}</p>
            </section>
            <section class="animate__animated animate__pulse">
                <h2>{{ "POLICIES.LEGAL.LEGISLATION_TITLE" | translate }}</h2>
                <p>{{ "POLICIES.LEGAL.LEGISLATION_DESCRIPTION" | translate }}</p>
            </section>
        </main>
    </div>
</div>