<div class="wrap-form-whatsapp shadow-lg border-round card p-4">
    <form [formGroup]="chatForm" (ngSubmit)="sendMessage()" class="wrap-form">
        <div class="p-fluid">
            <div class="wrap-data-user">
                <div class="p-field">
                    <label for="userPhone">{{"OTHERS.FORM_ORDER.LABEL_PHONE" | translate}}</label>
                    <input id="userPhone" type="tel" pInputText formControlName="userPhone" class="p-inputtext-lg"
                        required />
                    <span *ngIf="chatForm.get('userPhone')?.invalid && chatForm.get('userPhone')?.touched"
                        class="p-error">{{"OTHERS.FORM_ORDER.VALIDATION_PHONE" | translate}}</span>
                </div>
            </div>
            <div class="p-field message">
                <label for="userMessage">{{"OTHERS.FORM_ORDER.LABEL_MESSAGE" | translate}}</label>
                <textarea id="userMessage" rows="3" pInputTextarea formControlName="userMessage"
                    class="p-inputtextarea-lg textarea" required></textarea>
                <span *ngIf="chatForm.get('userMessage')?.invalid && chatForm.get('userMessage')?.touched"
                    class="p-error">{{"OTHERS.FORM_ORDER.VALIDATION_MESSAGE" | translate}}</span>
            </div>
            <div class="wrap-button">
                <button 
                    pButton 
                    type="submit" 
                    [outlined]="true"
                    [ngClass]="{'p-button-danger': chatForm.invalid, 'p-button-success': chatForm.valid}"
                    [label]="'OTHERS.FORM_ORDER.BUTTON_SMS' | translate"
                    [icon]="chatForm.invalid ? 'pi pi-ban' : 'pi pi-send'"
                    iconPos="right"
                    class="p-mt-2 p-button-success" 
                    [disabled]="chatForm.invalid">
                </button>
            </div>
        </div>
    </form>
</div>