


$brand-primary: #556b2f;
$brand-primary-dark:#323f1b;
$brand-primary-light:#9fc75a;

$brand-secondary: #d4af37;
$brand-secondary-dark: #79641f;
$brand-secondary-light: #f7cd42;

$brand-tertiary: #874c62;
$brand-tertiary-dark: #3c222c;
$brand-tertiary-light: #f18ab0;