



$greyShadow: #393939;

$text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
$text-shadow-items-menu: 0 0 .1rem $black;
$navbar-shadow-light: 0 1rem 1.5rem 0 rgba($brand-primary-dark, .4); 
$box-shadow: 0 0 1rem rgba($greyShadow, .3);

$dialShadow: 0 0 2rem 0 rgba($greyShadow, .5);