



$info-alert: #02faff;
$info-light-alert: #9df7f8;
$info-dark-alert: #03a7aa;
$danger-alert: #e90502;
$danger-light-alert: #f7a4a3;
$danger-dark-alert: #910603;
$warning-alert: #eded00;
$warning-light-alert: #fbfba8;
$warning-dark-alert: #8c8c02;
$success-alert: #71e002;
$success-light-alert: #d3fbaa;
$success-dark-alert: #468a03;