


<div class="container m-container">
    <div class="wrap-product">
        <div class="wrap-title">
          <h1 *ngIf="!showSkeletonTitle" class="title">{{ "TERRARIUMS_PAGE.TITLE" | translate }}</h1>
          <p-skeleton *ngIf="showSkeletonTitle" width="40rem" height="5rem" styleClass="mb-2" />
        </div>
        <div class="product-wrap-cards">
          <div *ngFor="let terrarium of terrariumContent" class="wrap-card">
            <app-card
              [gallery]="true"
              [srcImg]="terrarium.srcImg"
              [altImg]="terrarium.titleCard"
              [title]="terrarium.titleCard"
              [titleCard]="terrarium.titleCard"
              [descriptionCard]="terrarium.descriptionCard || ''" />
          </div>
        </div>
    </div>
</div>
