
<div class="wrap-carrousel-home">
    <div *ngIf="carrouselOptions === 'isHero'" class="carrousel-hero">
        <p-carousel 
            [value]="itemsCarrouselHero" 
            [numVisible]="1" 
            [circular]="true"
            [autoplayInterval]="intervalHero">
            <ng-template let-slide pTemplate="item">
                <div class="wrap-carrousel-hero">
                    <div class="wrap-text">
                        <h3 *ngIf="!showSkeleton" class="hero-title">
                            {{ slide.title }}
                        </h3>
                        <p-skeleton *ngIf="showSkeleton" height="2rem" styleClass="mb-5" />
                        <p *ngIf="!showSkeleton" [innerHtml]="slide.description" class="hero-description"></p>
                        <p-skeleton *ngIf="showSkeleton" height="10rem" styleClass="mb-2" />
                        <p-button 
                            [outlined]="true" 
                            pButton type="button" 
                            severity="info" 
                            icon="pi pi-align-justify" 
                            iconPos="right" 
                            label="Seguir leyendo"
                            (click)="openModalHero(slide)"
                            class="btn-modal" />
                    </div>
                    <div class="wrap-img">
                        <img 
                            [src]="slide.img" 
                            [alt]="slide.title" 
                            class="img" />
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
    
    <p-dialog 
        [(visible)]="displayModalHero" 
        [modal]="true" 
        [draggable]="false" 
        [baseZIndex]="10000" 
        [maximizable]="true"
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
        [style]="{width: '75vw'}">
        <div *ngIf="selectedSlideHero" class="wrap-modal-slide">
            <h3 class="hero-modal-title">{{ selectedSlideHero.title }}</h3>
            <p [innerHtml]="selectedSlideHero.description" class="hero-modal-description mt-1"></p>
            <div class="wrap-img">
                <img 
                    [src]="selectedSlideHero.img" 
                    [alt]="selectedSlideHero.title" 
                    [title]="selectedSlideHero.title" 
                    class="img" />
            </div>
        </div>
    </p-dialog>
    
        <!-- *************** -->
    <div *ngIf="carrouselOptions === 'isOpinator'" class="carrousel-opinator">
        <p-carousel 
            [value]="homePageOpinions" 
            [numVisible]="3" 
            [numScroll]="3" 
            [circular]="true"
            [responsiveOptions]="responsiveOptions" 
            [autoplayInterval]="intervalOpinions">
            <ng-template let-opinion pTemplate="item" >
                <div class="border-1 m-2 p-3">
                    <div class="wrap-header">
                        <h3 class="mb-2 font-medium opinator-name">
                            {{ opinion.name | translate }}
                        </h3>
                        <p-rating
                            *ngIf="opinion.rating"
                            [(ngModel)]="opinion.rating" 
                            [readonly]="true" 
                            [cancel]="false"
                            class="mb-3" />
                    </div>
                    <div class="flex justify-content-between align-items-center">
                        <p *ngIf="!showSkeleton" [innerHtml]="opinion.description | translate" class="mt-0 mb-4 opinator-description"></p>
                        <p-skeleton *ngIf="showSkeleton" height="10rem" styleClass="mb-2" />
                        <p-button 
                            *ngIf="!showSkeleton"
                            [outlined]="true"
                            pButton 
                            type="button" 
                            severity="success"
                            icon="pi pi-book"
                            iconPos="right"
                            [label]="'HOME.OPINIONS_SECTION.BUTTON' | translate" 
                            (click)="openModalOpinator(opinion)" />
                        <p-skeleton *ngIf="showSkeleton" height="10rem" styleClass="mb-2" />
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
    
    <p-dialog 
        [(visible)]="displayModalOpinator" 
        [modal]="true"
        [draggable]="false"
        [baseZIndex]="10000"
        [maximizable]="true"
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
        [style]="{width: '50vw'}">
        <div *ngIf="selectedSlideOpinator" class="wrap-modal-rating">
            <h3 class="mb-3 mt-2">{{ selectedSlideOpinator.name | translate }}</h3>
            <p-rating 
                *ngIf="selectedSlideOpinator.rating" 
                [(ngModel)]="selectedSlideOpinator.rating" 
                [readonly]="true" 
                [cancel]="false" class="mt-1 mb-2" />
            <p [innerHtml]="selectedSlideOpinator.description | translate" class="mt-1"></p>
            <div *ngIf="selectedSlideOpinator.image" class="wrap-imges mt-2">
                <img 
                    *ngFor="let image of selectedSlideOpinator.image; let i = index"
                    [src]="image" 
                    [alt]="selectedSlideOpinator.name" 
                    [title]="selectedSlideOpinator.name" 
                    class="img" />
            </div>
        </div>
    </p-dialog>
</div>