<div *ngIf="carrouselOptions === 'isHero'" class="carrousel-hero">
    <p-carousel 
        [value]="itemsCarrouselHero" 
        [numVisible]="1" 
        [autoplayInterval]="intervalHero">
        <ng-template let-slide pTemplate="item">
            <div class="wrap-carrousel-hero">
                <div class="wrap-text">
                    <h3 class="hero-title">
                        {{ slide.title }}
                    </h3>
                    <p [innerHtml]="slide.description"  class="hero-description"></p>
                </div>
                <div class="wrap-img">
                    <img 
                        [src]="slide.img" 
                        [alt]="slide.title" 
                        class="img" />
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>
    <!-- *************** -->
<div *ngIf="carrouselOptions === 'isOpinator'" class="carrousel-opinator">
    <p-carousel 
        [value]="itemsCarrouselOpinator" 
        [numVisible]="3" 
        [numScroll]="3" 
        [circular]="true"
        [responsiveOptions]="responsiveOptions" 
        [autoplayInterval]="intervalOpinions">
        <ng-template let-product pTemplate="item" >
            <div class="border-1 m-2 p-3">
                <div class="wrap-header">
                    <h3 class="mb-3 font-medium opinator-name">
                        {{ product.name }}
                    </h3>
                    <p-rating
                        *ngIf="product.rating"
                        [(ngModel)]="product.rating" 
                        [readonly]="true" 
                        [cancel]="false" />
                </div>
                <div class="flex justify-content-between align-items-center">
                    <p [innerHtml]="product.description" class="mt-0 opinator-description"></p>
                    <p-button 
                        [outlined]="true"
                        pButton 
                        type="button" 
                        severity="success"
                        icon="pi pi-book"
                        iconPos="right"
                        label="Leer más" 
                        (click)="openModal(product)" />
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>

<p-dialog 
    [(visible)]="displayModal" 
    [modal]="true"
    [draggable]="false"
    [baseZIndex]="10000"
    [maximizable]="true"
    [style]="{width: '50vw'}">
    <div *ngIf="selectedProduct" class="wrap-modal-rating">
        <h3 class="mb-3 mt-2">{{ selectedProduct.name }}</h3>
        <p-rating 
            *ngIf="selectedProduct.rating" 
            [(ngModel)]="selectedProduct.rating" 
            [readonly]="true" 
            [cancel]="false" class="mt-1 mb-2" />
        <p [innerHtml]="selectedProduct.description" class="mt-1"></p>
        <div *ngIf="selectedProduct.image" class="wrap-imges mt-2">
            <img 
                *ngFor="let image of selectedProduct.image; let i = index"
                [src]="image" 
                [alt]="selectedProduct.name" 
                class="img" />
        </div>
    </div>
</p-dialog>